#formulaire{

  margin-left : auto;
  margin-right : auto;
  margin-top : 15%;
  position : relative;
  text-align : center;
}

#formulaire ul{
  padding:0;
  margin:0;
  margin-left:10%;
  margin-right:10%;
  width:80%;
		}
		
#formulaire li{
  list-style:none;
  min-width:220px;
  margin-left:40%;
  margin-right:40%;
  width:25%;
}
		


#formulaire input {
  border:1px solid #ccc;
  font-size:20px;
  width:28%;
  border-color: #88a;
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);	  
  min-width:250px;
  min-height:30px;
  display:block;
  margin-bottom:3%;
  padding-bottom:1%;
  margin-top:1%;
  outline: none;


  border-radius:5px;
}

#formulaire label{
  font-size:15px;
  width:28%;		
}
