body{
		  width: 80%;
		  height: 80%;		  
		  font-family: 'Open Sans',sans-serif;
		  font-weight: 400;
		  font-size: 100%;
		  
		}
		li{
				list-style:none;
				padding:0;
				margin:0;
		
				min-width:220px;
				margin-left:50%;
				margin-right:50%;
				margin-top:300px;
				width:100%;
		}
		
		input {
		  text-align: center;
		  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		  border:1px solid #ccc;
		  font-size:20px;
		  width:28%;
		  margin-top:1%;
		  min-width:250px;
		  min-height:30px;
		  display:block;
		  outline: none;

		  -webkit-border-radius:5px;
		  -moz-border-radius:5px;
		  -o-border-radius:5px;
		  -ms-border-radius:5px;
		  border-radius:5px;
		}
